

.body{
  margin:auto;
  padding-top: 20px;
  height: 812px;

  background: radial-gradient(circle, rgb(77, 104, 253) 0%,rgb(33, 31, 150) 90%);
  text-align: center;
  min-height: 100vh;
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  justify-content: center;
  
}



.inputNr{
margin: auto;
margin-bottom: 30px;
padding-right: 50px;
padding-left: 50px;
width: 70vw;
text-align: center;
background: transparent;
justify-content: center;
color: white;
font-size: 24px;
font-family: 'Aladin';
display: grid;
}



.main {
  position: relative;
  width: 200px;
  height: 50px;
  opacity: 1;  
  cursor: pointer;
  border-radius: 5px;
  border: 3px solid white;
}

svg{
  width: 375px;
  height:  auto; 
  position: center;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.line{
  background: radial-gradient(circle, rgb(0, 0, 0) 0%,rgb(0, 0, 0) 90%);
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255); 
  font-family: 'Aladin';
  font-size: 20px;


}

button{
  position: center;
  outline: none; 
  -webkit-tap-highlight-color: transparent;
  opacity: 1;
  background: #9e0017;
}


.DiceHolder
    {
    flex-direction: column;
    padding-top: 20px;
    background-color: #282c34;
    /*background:  rgb(129, 41, 29);*/
    background: radial-gradient(circle, rgb(129, 41, 29) 0%,rgb(83, 25, 18) 90%);
    height: 812px;
    display: flex;
    align-items: center;
    
    }
  
  .Title
  {
    font-size: 4em;
    font-family: "Aladin";
    margin-top: 42px;
    margin-bottom: 0;
    color: white;
    top: 110px;
    
    opacity: 40%;
  }
  .Description
  {
   
    font-size: 2em;
    font-family: "Aladin";
    opacity: 40%;
    color: white;
  }
    
  .wheelHolder {
    margin: auto;
    padding-top: 6vw;
  }
  
  .ButtonHolder
  {
    position: absolute;
    bottom: 0%;
    height: 12%;
    width: 100%;
    text-align: center;
  }

  .icon
  {
    height: 100%;
    padding-left: 3%;
    padding-right: 3%;
    opacity: 20%;
  }
  
  .dieimg{
    opacity: 100%;
  }
   .NavButtons
  {
    font-size: 50px;
    border-radius: 12px;
    width: 33%;
    opacity: 70%;
    border-color:rgba(43,80,150,1);
    background: rgb(43,80,150);

    background: radial-gradient(circle, rgb(182, 170, 115) 0%, rgba(0,42,124,1) 100%);
  } 


  .DropShadow
  {
    position: absolute;
    top: 270px;
    z-index: 3;
    width: 250px;
    height: 250px;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.459) 40%, rgba(255, 255, 255,0) 70%);
  }

  .dice
  {
    
    padding-top: 165px;
    z-index: 10;
  }

  .face.one
  {
    background: rgb(53, 53, 53);
    background: radial-gradient(circle, rgb(173, 173, 173) 0%, rgb(73, 73, 73) 100%);
  }
  .face.two
  {
    background: rgb(53, 53, 53);
    background: radial-gradient(circle, rgb(173, 173, 173) 0%, rgb(73, 73, 73) 100%);
  }
  .face.three
  {
    background: rgb(53, 53, 53);
    background: radial-gradient(circle, rgb(173, 173, 173) 0%, rgb(73, 73, 73) 100%);
  }
  .face.four
  {
    background: rgb(53, 53, 53);
    background: radial-gradient(circle, rgb(173, 173, 173) 0%, rgb(73, 73, 73) 100%);
  }
  .face.five
  {
    background: rgb(53, 53, 53);
    background: radial-gradient(circle, rgb(173, 173, 173) 0%, rgb(73, 73, 73) 100%);
  }
  .face.six
  {
    background: rgb(53, 53, 53);
    background: radial-gradient(circle, rgb(173, 173, 173) 0%, rgb(73, 73, 73) 100%);
  }

  * {
    box-sizing: border-box;
  }
  
  .Refresh {
    position: absolute;
    top: 50%;
    font-family: 'Aladin';
  }

  .REText {
    font-family: 'Aladin';
    font-size: 25px;
    background-color: green;
    color: white;
    border: 3px solid white;
    border-radius: 8px;
    width: 150px;
    height: 50px;
    
}

.REText:hover {
  
}

.REText:active {
  background-color: darkgreen;
  
}
  
  #headText {
    font-family: 'Aladin';
    text-align: center;
    padding-bottom: -50px;
    color: white;
    z-index:1;
    font-size: 4em;
    margin-bottom: 3vw;
    opacity: 40%;
  }
  
    #cardholder {
      overscroll-behavior-y: contain;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%; 
      user-select: none;
      background-image: radial-gradient( rgba(0, 255, 34, 0) 0%, rgba(0, 0, 0, 0.5) 90%);
      position: fixed;
      overflow: hidden;
      background-color: green;
      font-family: 'Aladin';
    }
  
    #cards {
      margin-top: 0vw;
      
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
    
    }
  
  #cards > div {
    position: absolute;
    width: 100vw;
    height: 58vh;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  #cards > div > div {
   
    background-size: 10px 150px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 45vh;
    max-width: 300px;
    height: 85vh;
    max-height: 460px;
    will-change: transform;
    border-radius: 19px;
    
  }
  
  
   
  .cardImages { 
    pointer-events: none;
    max-width:100%;
      height:auto;
      background-color: white;
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 45vh;
    max-width: 300px;
    height: 60vh;
    max-height: 570px;
    border-radius: 19px;
  }
  
  .flip-card {
    
    background-color: transparent;
    border-radius: 19px;
  }
  
  .flip-card-inner {
    position: relative;
   
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 19px;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    border-radius: 19px;
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    border-radius: 19px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 19px;
  }
  
  .flip-card-back {
    
    color: white;
    transform: rotateY(180deg);
    border-radius: 19px;
  }
  
  .clickText{
    margin-top: -2vw;
    color: white;
    
    text-align: center;
    animation: float 3s cubic-bezier(0, 1.32, 0.58, 1) infinite;
    position: absolute;
    width: 100%;
    z-index: 1;
  
  }

  .ct{
    font-family: 'Aladin';
    padding-top: 42vh;
  }
  
  @keyframes float {
      0% {
      opacity: 40% ;
      transform: translatey(0px);
    }
    25% {
      opacity: 30%;
    }
      50% {
          opacity: 0%;
          transform: translatey(-10px);
    }
    25% {
      opacity: 10%;
    }
      100% {
      opacity: 40% ;
          transform: translatey(0px);
      }
  }

  .Links {
    position: absolute;
    top: 84%;
    /* height: 62px; */
    /* width: 100%; */
    text-align: center;
    display: flex;
  }

  .inactive {
    opacity: 40%;
  }

  .active {
    opacity: 100%;
  }

  img{
    width: 100%;
    height: 100%;
  }
  
  .NavImg {
    
  }

  .frontpage {
    background-image: url(./bakgrund4.svg);
    height: 218vw;
  }

  .fpLink {
    display: flex;
    object-fit: cover;
    padding: 10px;
    padding-right: 37px;
  }

  .fpNav {
    width: 110px;
  }

  .fpNav:active {
    opacity: 50%; 
  }


  
  .fpLinks {
        /* height: 50%; */
        position: absolute;
        top: 92vw;
        left: 10%;
      
        
  }
  
  .info {
    font-family: 'Aladin';
    display: block;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    opacity: 80%;
    text-decoration: none;
  }

  .infoText {
    margin-top: 0;
    margin-bottom: 0;
   
  }